#panel ::v-deep {
  width: 300px;
  height: 100%;
  background: #202020;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  overflow: auto;

  .ivu-form-item {
    position: relative;

    .indent-content {
      margin-left: 10px;
    }
  }

  .ivu-form-item-label {
    color: #fff;
  }

  .ivu-form-item-content {
    .button-add {
      width: 15px;
      height: 15px;
      line-height: 15px;
      font-size: 10px;
      padding: 0;
      position: absolute;
      top: -25px;
      left: 50px;
    }

    .ivu-input {
      border: none;
      border-bottom: 1px solid #404040;
      border-radius: 0;
      background: transparent;
      color: #afafaf;
      padding: 0;
      height: 28px;
      line-height: 28px;

      &:focus {
        box-shadow: none;
        border-bottom: 1px solid #2D8Cf0;
      }
    }

    .inline-input {
      display: inline-block;

      &-label {
        color: #fff;
        display: inline-block;
        vertical-align: sub;
        margin-right: 10px;
      }
    }

    .ivu-collapse {
      background: transparent;
      border: none;

      &-item {
        border: none;
      }

      &-header {
        padding: 0;
        height: 28px;
        line-height: 28px;
        color: #fff;

        i {
          margin: 0;

        }

        .not-rotate {
          transform: none;
          margin-left: 10px;
        }
      }

      &-content {
        background: transparent;
      }
    }

    .ivu-select {
      &-selection {
        background: transparent;
        color: #afafaf;
        height: 28px;
        border-radius: 0;
      }

      &-selected-value {
        line-height: 28px;
      }
    }
  }
}


// 滚动条
#panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#panel::-webkit-scrollbar-thumb {
  background-color: rgba(102, 102, 102, 0.7); // rgba(64, 158, 255, 0.5);
  // outline: 1px solid slategrey;
  border-radius: 5px;
}

#panel::-webkit-scrollbar {
  width: 8px;
}